<div class="present-card">
  <div class="card-container-present">
    <img height="250" src="{{image}}" alt="{{name}}"/>
  </div>  
  <div class="present-container">
    <h2>{{name}}</h2>
    <p>Recipient: {{recipient}}</p>
    <p>Price: {{price}}</p>
    <p>{{description}}</p>
    <div id="button-see-more">
      <a href="/presents/{{_id}}">See More</a>
    </div>
  </div>
</div>
