<div class="present-card">
  <div class="card-container-present">
    <a href="/presents/{{_id}}"><img height="250" src="{{image}}" alt="{{name}}"/></a>
  </div>  
  <div class="present-container">
    <h2>{{name}}</h2>
    <p>Recipient: {{recipient}}</p>
    <p>Price: {{price}}</p>
    <p>{{description}}</p>
  </div>
</div>

