<body id="presents-bg">
  <header>
    <nav id="nav-bar">
      <a href="/presents/#presents-main">← Go back to List</a>
    </nav>
  </header>
  <h3>Results for: {{query}}</h3>
  <div>
    {{#if present}}
      {{#with present}}
        <div class="present-card-expanded">
          <div class="card-expanded-container-present">
            <img height="350" src="{{image}}" alt="{{name}}"/>
          </div>  
          <div class="card-container">
            <h2>{{name}}</h2>
            <p>Price:<br>{{price}}</p>
            <p>Recipient:<br>{{recipient}}</p>
            <p>Description:<br>{{description}}</p>
            <div id="button-see-more">
              <a href="/presents/delete/{{_id}}">Delete Present</a>
            </div>
          </div>
        </div>
     {{/with}}
     {{else}}
      <div class="present-card-expanded">
        <div class="card-expanded-container-present">
          <img height="350" src="/images/santa.jpg" alt="not-found"/>
        </div>  
        <div class="card-container">
          <h2>Oops!<br>No presents found for:</h2>
          <p>{{query}}</p>
          <p>Try again:</p>
          <div id="button-see-more">
            <a href="/presents">Back to presents</a>
          </div>
        </div>
      </div>
    {{/if}} 
  </div>
</body>